<h1>Welcome</h1>

<div>
    <div class="grid">
        <my-card>
            <h3 class="card-title">Hello this</h3>
            <div cardbody>
                This is the card component test
                <br>
                <button baseButton>El nuevo boton</button>
            </div>
            <div>
                Default component slot
            </div>
        </my-card>
        <my-card>
            <h3 class="card-title">New templates control flow</h3>
            <div cardbody>
                This is my card
                <a baseButton routerLink="/componentes">Go</a>
            </div>
        </my-card>
        <my-card>
            <h3 class="card-title">defer</h3>
            <div cardbody>
                This is my card
                <button baseButton routerLink="/defer">El nuevo boton</button>
            </div>
        </my-card>
        <my-card>
            <h3 class="card-title">Component projection</h3>
            <div cardbody>
                This is my card
                <button baseButton routerLink="/templates">El nuevo boton</button>
            </div>
        </my-card>
    </div>
</div>